/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
config/
storage/
tests/
.editorconfig
.env
.env.example
.env.backup
.styleci.yml
artisan
composer.json
composer.lock
docker-compose-yml
package-lock.json
package.json
phpunit.xml
server.php 
webpack.mix.js 
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
